:root {
	--width: 300px;
	--width-collapsed: 50px;
	--padding: 10px;

	--bg-color: rgb(52, 52, 52);
	--hover-color: rgb(23, 23, 23);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin-left: var(--width-collapsed);
	/*background: #032c55;*/
}

.body-expanded {
	margin-left: var(--width);
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
}

#sideMenu {
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;
	background: var(--bg-color);
}

#sideMenu a {
	color: #fff;
	text-decoration: none;
}

/*HEADER*/
#menuHeader {
	border-bottom: 1px solid var(--hover-color);
}

#headerTitle {
	overflow: hidden;
}

#headerTitle, #headerBtn {
	vertical-align: middle;
}

#headerBtn {
	width: var(--width-collapsed);
	height: 50px;
	padding: var(--padding);
	display: inline-block;	
	color: #fff;
	font-size: 2em;
}

/*PROFILE*/
#menuProfile {
	padding: var(--padding) 0;
	text-align: center;
	border-bottom: 1px solid var(--hover-color);
}

#profilePhoto {
	margin: 0 auto;
	padding: var(--padding);
}

#profilePhoto img {
	width: 60%;
	border-radius: 50%;
}

#profilePhoto, #profileName {
	padding: var(--padding) 0;
	font-size: 24px;
	overflow: hidden;
}

/*ITEMS*/
#menuItems {
	overflow: hidden;
}

.item {
	width: var(--width);
	padding-top: 5px;
}

.item--icon {
	width: var(--width-collapsed);
	padding: var(--padding);
}

.item--icon ion-icon {
	font-size: 1.8em;
}

.item--title {
	padding: var(--padding) 0;
}

.item--icon, .item--title {
	display: inline-block;
	font-size: 14px;
	overflow: hidden;
	vertical-align: middle;
}

.item a {
	display: block;
}

.separator {
	height: 1px;
	border-bottom: 1px solid var(--hover-color);
}

/*MENU EXPANDED*/
.menu-expanded {
	width: var(--width);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.menu-expanded #headerTitle {
	width: calc(100% - 50px);
	margin-right: -5px;
	padding: var(--padding);
	display: inline-block;
}

.menu-expanded #headerTitle span {
	width: calc(var(--width) - var(--width-collapsed) - 5px);
	overflow: hidden;
}

.menu-expanded #profilePhoto {
	width: 200px;
}

.menu-expanded #profileName {
	width: 100%;
}

/*MENU COLLAPSED*/
.menu-collapsed {
	width: var(--width-collapsed);
}

.menu-collapsed #headerTitle, .menu-collapsed .item--title {
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
}

.menu-collapsed #profileName {
	display: none;
}

.menu-collapsed .item {
	width: 100px;
}


@media (hover: hover) {
	#headerBtn:hover {
		cursor: pointer;
		background: var(--hover-color);
	}
	.item a:hover {
		background: var(--hover-color);
	}
}