:root {
	--header-height: 3rem;

	--hue: 174;
	--sat: 63%;

	--first-color: hsl(var(--hue), var(--sat), 40%);
	--first-color-alt: hsl(var(--hue), var(--sat), 36%);
	--title-color: hsl(var(--hue), 12%, 15%);
	--text-color: hsl(var(--hue), 8%, 35%);
	--body-color: hsl(var(--hue), 100%, 99%);
	--container-color: #fff;

	--h1-font-size: 1.5rem;
	--normal-font-size: .938rem;
	--tiny-font-size: .625rem;

	--z-tooltip: 10;
	--z-fixed: 100;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: var(--header-height) 0 0 0;
	color: var(--text-color);
	font-size: var(--normal-font-size);
	background: var(--body-color);
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*REUSABLE CLASSES*/
.section {
	padding: 4.5rem 0 2rem;
}

.section--title {
	 margin-bottom: 1.5rem;
	 color: var(--title-color);
	 font-size: var(--h1-font-size);
	 text-align: center;
}

.section-height {
	height: 100vh;
}

/*LAYOUT*/
.container {
	max-width: 968px;
	margin: 0 1rem;
}

/*HEADER*/
header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
	background: var(--container-color);
	transition: .4s;
}

/*NAV*/
nav {
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav--logo {
	color: var(--title-color);
	font-weight: 600;
}

.nav--img {
	width: 32px;
	border-radius: 50%;
}

.nav__list, .nav__link {
	display: flex;
}

.nav__link {
	flex-direction: column;
	align-items: center;
	gap: .25rem;
	color: var(--title-color);
	font-weight: 600;
}

.nav__list {
	justify-content: space-around;
}

.nav--icon {
	font-size: 1.5rem;
}

.nav--name {
	display: none;
	font-size: var(--tiny-font-size);
}

.active-link {
	position: relative;
	color: var(--first-color);
	transition: .3s;
}

.active-link::before {
		content: '';
		width: 4px;
		height: 4px;
		position: absolute;
		bottom: -.6rem;
		border-radius: 50%;
		background: var(--first-color);
	}

.scroll-header {
	box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}


/*MEDIA QUERIES*/
@media screen and (min-width: 968px) {
	:root {
		--h1-font-size: 2.25rem;
		--normal-font-size: 1rem;
	}
}

@media screen and (min-width: 576px) {
	.nav__list {
		justify-content: center;
		gap: 3rem;
	}
}

@media screen and (min-width: 767px) {
	body {
		margin: 0;
	}
	.section {
		padding: 7rem 0 2rem;
	}
	nav {
		height: calc(var(--header-height) + 1.5rem);
	}
	.nav--img {
		display: none;
	}
	.nav--icon {
		display: none;
	}
	.nav--name {
		display: block;
		font-size: var(--normal-font-size);
	}
	.nav__link:hover {
		color: var(--first-color);
	}
}

@media screen and (min-width: 1024px) {
	.container {
		margin: 0 auto;
	}
}

@media screen and (max-width: 767px) {
	.nav__menu {
		width: 100%;
		height: 4rem;
		padding: 0 1rem;
		display: grid;
		position: fixed;
		align-content: center;
		bottom: 0;
		left: 0;
		border-radius: 1.25rem 1.25rem 0 0;
		background: var(--container-color);
		box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
		transition: .4s;
	}
}